@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  /* Core */
  --slate1: hsl(206, 30.0%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78.0%);
  --slate9: hsl(206, 6.0%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6.0%, 43.5%);
  --slate12: hsl(206, 24.0%, 9.0%);

  /* Aliases */
  --documentBackground: var(--slate2);
  --appBackground: var(--slate1);
  --borderLowEmphasis: var(--slate6);
  --borderHighEmphasis: var(--slate7);
  --textHighEmphasis: var(--slate12);
  --textLowEmphasis: var(--slate11);
  --radiusLarge: 12px;
  --radiusMedium: 6px;
  --radiusSmall: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate1: hsl(200, 7.0%, 8.8%);
    --slate2: hsl(195, 7.1%, 11.0%);
    --slate3: hsl(197, 6.8%, 13.6%);
    --slate4: hsl(198, 6.6%, 15.8%);
    --slate5: hsl(199, 6.4%, 17.9%);
    --slate6: hsl(201, 6.2%, 20.5%);
    --slate7: hsl(203, 6.0%, 24.3%);
    --slate8: hsl(207, 5.6%, 31.6%);
    --slate9: hsl(206, 6.0%, 43.9%);
    --slate10: hsl(206, 5.2%, 49.5%);
    --slate11: hsl(206, 6.0%, 63.0%);
    --slate12: hsl(210, 6.0%, 93.0%);
  }
}

body {
  margin: 64px auto;
  font-family: "Inter", sans-serif;
  background-color: var(--documentBackground);
}

main {
  margin: 0 auto;
  max-width: 768px;
  background-color: var(--appBackground);
  border: 1px solid var(--borderLowEmphasis);
  border-radius: var(--radiusMedium);
}