.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.hillChart {
  background-color: var(--documentBackground);
  margin: 8px 8px 20px;
  border-radius: var(--radiusSmall);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px 16px 12px;
}

.name {
  color: var(--textHighEmphasis);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

.hill {
  margin-bottom: 8px;
}

.indicators {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--borderLowEmphasis);
}

.indicators p {
  color: var(--textLowEmphasis);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.hill path {
  stroke: var(--borderHighEmphasis);
  stroke-width: 2;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: black;
  /* transform: translate(10px, -166px); */
  position: absolute;
  left: 16px;
  bottom: 160px;
}

.features {
  margin: 0 24px 24px;
}

.featuresList {
  margin-top: 12px;
  margin-bottom: 16px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; */
  border: 1px solid var(--borderLowEmphasis);
  border-radius: var(--radiusMedium);
  overflow: hidden;
  position: relative;
}